.link-wrapper {
    border-left: 1px solid rgb(117, 117, 117);
    background-color: #2f2f2f;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 300ms ease;
    text-decoration: none;
}

.link-wrapper:hover {
    background-color: rgb(117, 117, 117);
}

.active {
    background-color: rgb(117, 117, 117);
}

.navItem {
    color: white;
    
    font-size: 1.25rem;
    margin: 30px;
}

p {
    padding: 7px 20px;
}

